<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title != 'Home' %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta content="width=device-width" name="viewport">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans"
    rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/atom.xml" rel="alternate" type="application/rss+xml"  />
    <link href="/assets/images/zz.png" rel="shortcut icon" />
  </head>
  <body>
  <div class="project">
    <header>
      <h1><a title="{{ site.tagline }}" class="brand" href="/">{{ site.title }}</a> {{ site.tagline }}</h1>
    </header>
